body {
    background-color: rgb(13, 8, 56);
    margin: 10%;
    padding: 0;
    align-items: center;
    justify-content: center;
  }
  
#sectionOne {
    margin: auto;
    padding-left: 20px;
    background-color: #1c1938;
    display: flex;
    border-radius: 5px;
    flex-direction: row;
  }
  
#sectionOne h1 {
    color: white;
    font-family: "Inter";
    font-weight: 700;
  }
  
p {
    font-family: "Inter";
    color: rgba(255, 255, 255, 0.705);
  }
#sectionOne h1 span {
    color: #ac5ed2;
  }
  
  /* new trick for me */
  #leftPart {
    order: 1;
    flex-basis: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  #leftPart #description {
    width: 80%;
    color: rgba(128, 128, 128, 0.9);
    opacity: 80%;
  }
  
  #stats {
    display: flex;
    flex-direction: row;
    color: white;
  }
  
  #stats div {
    margin: 0px;
  }
  
  #stats div p {
    color: rgba(128, 128, 128, 0.9);
    font-size: 0.7em;
    margin-right: 20px;
  }
  
  #stats div h3 {
    margin: 0px;
    padding: 0px;
  }
  
  /* The most important css trick here */
  /* 
    background-image not just background >> why? 
  */
  #imageDiv {
    display: flex;
    flex-basis: 100%;
    width: 100%;
    order: 2;
    flex-grow: 1;
    background-size: cover;
    background-position: top;
    background-image: linear-gradient(
        to top,
        rgba(170, 92, 219, 0.5),
        rgba(170, 92, 219, 0.5)
      ),
      url("images/image-header-desktop.jpg");
    border-radius: 0px 6px 6px 0px;
  }
  
  @media screen and (max-width: 700px) {
    #sectionOne {
      display: flex;
      /* margin: auto; */
      padding-bottom: 20px;
      padding-left: 0;
      /* background-color: #1C1938; */
      /* display: flex; */
      /* border-radius: 5px;; */
      flex-direction: column;
      flex-wrap: wrap;
    }
  
    #sectionOne div {
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  
    #leftPart {
      /* flex-basis: 100%; */
      flex-direction: column;
      order: 2;
    }
  
    #imageDiv {
      display: flex;
      position: relative;
      flex-direction: column;
      /* position: relative; */
      order: 1;
      height: 300px;
      background-size: cover;
      background-position: center;
      border-radius: 6px 6px 0px 0px;
      
      
      /* opacity: 0.5; */
    }
    #imageDiv::after{
      content: url("");
      height: 100vh;
    }

    #stats {
      flex-direction: column;
    }
  
    #stats div p {
      margin-right: 0px;
    }
    /* br {
      display: block;
      background-color: brown;
    } */
  }
  